.intro {
    
}

.greeting {
    /*text-align: center;
    font-size: 100px;
    font-family: "Permanent Marker";*/
    
}
.welcome {
    
}
.crazyplace{
    font-size: 75px;
    font-family: "Algerian";
    
}
p{
   /* text-align: center;
    font-size: 30px;*/
  }

body {
/*background-color: rgb(168, 226, 238);*/

}
.emergency{
    color:red;
    text-align: center;
}
.ice-numbers{

}
.closing{

}
.food{

}
.sights{

}
.disclaimer{

}
.typed-info{

}
footer{
    text-align: center;
    font-family: 'Haettenschweiler', 'Arial Narrow Bold', serif
    font-size: 10px;